{{define "title"}}Home{{end}}

{{define "main"}}
<div class="wrapper">
  <form id="inputForm" class="input">
    <div class="controls">
      <select id="processType" name="lexer">
        <option value="monkey">Monkey Lexer</option>
        <option value="flex">Flex Lexer</option>
        <option value="pratt">Pratt Parser</option>
      </select>
      <a href="/tutorial">Tutorial!</a>
      <button type="submit">Lexer</button>
    </div>
    <textarea id="inputText" name="input" placeholder="Enter your input here..."></textarea>
  </form>
  <section class="output">
    <textarea id="outputText" name="output" placeholder="Output will appear here..." readonly></textarea>
  </section>
</div>
{{end}}
